<link href="./app.component.css" rel="stylesheet">
<header>
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        <img src="../assets/imgs/scheduling_icon_white.png" alt="Imagem de um calendário com relógio a frente" width="50" height="50">
        <div class="dash"></div>
        <div class="title-logo title-font">
          <span>Event</span> <span>Scheduling</span>
        </div>
      </div>
        <div class="perfil">
            <button type="button" class="btn">
              <i class="bi bi-person-circle"></i>
            </button>
        </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="navbar fixed-bottom text-font">
  <p>Desenvolvido por Gabriel Borges</p>
</footer>
