<div class="container-event container text-font">
  <div class="title-events">
    <h2 class="display-6 title-font">Evento</h2>
    <p class="lead-1 text-font">Crie o seu novo evento</p>
  </div>
  <hr class="my-2">
  <form class="row g-3" [formGroup]="formEvent" (ngSubmit)="create()">
    <div class="col-md-4">
      <label for="idDescription" class="form-label">Descrição</label>
      <input type="text" formControlName="description" class="form-control" id="idDescription">
    </div>
    <div class="col-md-4">
      <label for="idStart" class="form-label">Começa em</label>
      <input type="datetime-local" formControlName="start" class="form-control" id="idStart">
    </div>
    <div class="col-md-4">
      <label for="idFinish" class="form-label">Termina em</label>
      <input type="datetime-local" formControlName="finish" class="form-control" id="idFinish">
    </div>
    <div class="d-grid gap-2 d-md-flex ">
      <button class="btn btn-outline-primary me-md-2 btn-save" (click)="create()" type="button">Salvar</button>
      <button routerLink="/event-list" class="btn btn-outline-primary btn-cancel" >Cancelar</button>
    </div>
  </form>
</div>
