    <div class="card container align-items-center ">
      <div class="card-header no-border">
        <h5 class="card-title text-font">Tem certeza que deseja realizar essa ação?</h5>
      </div>
      <div class="group-button">
        <div class="widget-49-meeting-action">
          <button class="btn btn-outline-primary btn-sm btn-yes" (click)="this.logout()" >Sim</button>
          <button class="btn btn-outline-secondary btn-sm btn-no" (click)="activateModal.close()" >Não</button>
        </div>
      </div>
    </div>

