<ng-template [ngIf]="hasOpenModal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modal.title }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
  </div>
  <div class="modal-body">
    <p>{{ modal.contentText }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onDenied()" >{{ modal.txtBtnDenied }}</button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()">{{ modal.txtBtnSuccess}}</button>
  </div>
</ng-template>
