<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">Criar Conta</h1>
    <hr class="my-2">
    <form class="row g-3" [formGroup]="formRegister" (ngSubmit)="create()">
      <div class="col-md-4">
        <label for="idName" class="form-label">Nome</label>
        <input type="text" formControlName="name" class="form-control" id="idName">
      </div>
      <div class="col-md-4">
        <label for="idEmail" class="form-label">Email</label>
        <input type="text" formControlName="email" class="form-control" id="idEmail">
      </div>
      <div class="col-md-4">
        <label for="idPassword" class="form-label">Senha</label>
        <input type="password" formControlName="password" class="form-control" id="idPassword">
      </div>
      <div class="d-grid gap-2 d-md-flex ">
        <button class="btn btn-outline-primary me-md-2" (click)="create()" type="button">Criar</button>
        <a routerLink="/login" class="btn btn-outline-secondary">Logar</a>
      </div>
    </form>
  </div>
</div>
