<div class="container-events container text-font">
  <div class="title-events">
    <h2 class="display-6 title-font">Eventos</h2>
    <p class="lead-1 text-font">Lista de todos os seus eventos</p>
  </div>
  <hr class="my-2">
  <div class="btn-new-event">
    <button class="btn btn-outline-primary btn-sm btn-new-event" routerLink="/new-event" >Novo Evento</button>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6" *ngFor="let event of events">
      <div class="card card-margin">
        <div class="card-header no-border">
            <h5 class="card-title title-font">{{event.description}}</h5>
        </div>
        <div class="card-body pt-0">
          <div class="widget-49">
            <div class="widget-49-title-wrapper">
              <div class="widget-49-date-primary">
                  <span class="widget-49-date-day">{{ event.start | date: 'dd'}}</span>
                  <span class="widget-49-date-month">{{ event.start | date: 'MMM'}}</span>
              </div>
              <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">Começa</span>
                  <span class="widget-49-pro-title">{{ event.start | date: 'dd/MM/yyyy'}}</span>
                  <span class="widget-49-pro-title">{{ event.start | date: 'HH:mm'}}</span>
                </div>
              <div class="widget-49-meeting-info">
                <span class="widget-49-pro-title">Termina</span>
                <span class="widget-49-pro-title">{{ event.finish | date: 'dd/MM/yyyy'}}</span>
                  <span class="widget-49-pro-title">{{ event.finish | date: 'HH:mm'}}</span>
              </div>
            </div>
            <div class="group-button">
              <div class="widget-49-meeting-action">
                <button class="btn btn-outline-primary btn-sm btn-edit" (click)="editEvent(event.id)" >Editar</button>
                <button class="btn btn-outline-secondary btn-sm btn-remove" (click)="openModal(event)" >Remover</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

