<div class="container-invitation container text-font">
  <div class="btn-new-event">
    <button class="btn btn-outline-primary btn-sm btn-new-event mb-4" routerLink="/" >Voltar</button>
  </div>
  <div class="title-invitations">
    <h2 class="display-6 title-font">Convite</h2>
    <p class="lead-1 text-font">Convide um usuário para o evento: <b>{{ event.description }}</b></p>
  </div>
  <hr class="my-4">
  <form class="row g-3" [formGroup]="inputSearch" (ngSubmit)="addUser()">
    <div class="col-md-9 d-flex align-items-center">
      <label for="idDescription" class="form-label">Email: </label>
      <input type="text" formControlName="email" class="form-control mx-3" id="idDescription" placeholder="Insira aqui um email">
      <button class="btn btn-outline-primary me-md-2 btn-save" (click)="addUser()" type="button">Buscar</button>
    </div>
  </form>
  <div class="invite-card my-3">
    <ng-container *ngIf="userSearched as user;" class="d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ user.name}}</h5>
          <p class="card-text">{{ user.email }}</p>
          <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-primary" (click)="sendInvite()" >Convidar</button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="loadingB">
      <div>
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="list-participants my-4">
    <div class="title-invitations">
      <h2 class="display-6 title-font">Participantes</h2>
    </div>
    <hr class="my-4">
    <ng-container *ngIf="participants$ | async as participants; else loading">
      <div class="d-flex justify-content-center invite-card">
        <div  *ngFor="let participant of participants">
          <div class="card mx-3">
            <div class="card-body">
              <h5 class="card-title">{{ participant.user.name}}</h5>
              <p class="card-text">{{ participant.user.email }}</p>
              <p class="card-text">{{ participant.status }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
