<div class="modal-header">
  <h4 class="modal-title pull-left">Notificações</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onclose()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Seus Convites</p>
  <div class="card my-3 p-2" *ngFor="let invite of invites">
    <p>{{invite.event.description}}</p>
    <p>Inicio: {{invite.event.start | date: 'dd/MM/yyyy'}}</p>
    <p> Fim: {{invite.event.finish | date: 'dd/MM/yyyy'}}</p>
    <div class="my-2">
      <span>
        <button class="btn btn-primary mx-2" (click)="updateInvite('ACCEPT', invite.id)" >Aceitar</button>
        <button class="btn btn-secondary mx-2" (click)="updateInvite('REFUSED', invite.id)">Recusar</button>
      </span>
    </div>
  </div>
</div>
